@media screen and (max-width: 1076px) {

    /* GENERAL CLASSES */
    .flex {
        flex-direction: column;
    }

    h2.title {
        font-size: 35px;
    }

    /* HEADER */
    header {
        padding: 50px 10%;
    }

    .menu_desktop, .btn_contato {
        display: none;
    }

    /* STYLE MOBILE MENU */
    .btn_abrir_menu i {
        color: #3dbf2f;
        font-size: 40px;
        display: flex;
    }

    .menu_mobile {
        display: block;
        background-color: #000;
        height: 100vh;
        /* comando para deixar fixo o menu, porém ele não ocupa mais toda a vh */
        position: fixed;
        /* para o menu ocupar toda a vh */
        top: 0;
        /* para o menu ocupar toda a vw, porém a imagem ainda fica na frente do menu */
        right: 0;
        /* deixa o menu frente/por cima de todos os elementos do site */
        z-index: 9999999;
        /* para deixar o menu com um respiro do lado esquerdo */
        width: 0%;
        overflow: hidden;
        transition: .5s;
    }

    .menu_mobile.abrir_menu {
        width: 70%;
    }

    /* o "~" significa que sempre que aacontecer o evento antes do "~", o evento após o "~" acontecerá tbm. Exemplo: evento 1 ~ evento 2 */
    .menu_mobile.abrir_menu ~ .overlay_menu {
        display: block;
    }

    .menu_mobile .btn_fechar {
        padding: 20px 5%;
    }

    .menu_mobile .btn_fechar i {
        color: #3dbf2f;
        font-size: 30px;
    }

    .menu_mobile nav ul {
        text-align: right;
        list-style-type: none;

    }

    .menu_mobile nav ul li a {
        font-size: 20px;
        padding: 20px 8%;
        display: block;
    }

    .menu_mobile nav ul a:hover {
        background-color: #3dbf2f;
        color: #000;
    }

    .overlay_menu {
        background-color: #000000df;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 88888;
        display: none; 
    }

    /* SITE TOP */
    section.top_site {
        padding: 20px 10%;
    }

    section.top_site .flex {
        gap: 40px;
    }

    .top_site h1 {
        font-size: 30px;
    }

    .top_site h1 span {
        font-size: 30px;
    }

    .top_site .txt_top_site p {
        font-size: 15px;
    }

    /* SPECIALTIES */ 
    section.specialties {
        padding: 40px 10%;
    }

    /* ABOUT */
    section.about {
        padding: 40px 6%;
    }

    .about .txt_about h2 {
        font-size: 30px;
        text-align: center;
        flex-direction: column-reverse;
    }

    .btn_social {
        text-align: center;
    }

    /* PORTFOLIO */
    section.portfolio {
        padding: 40px 10%;
    }

    .img_port {
        width: 100%;
        max-width: 360px;
        margin: auto;
    }
    .img_port2 {
        width: 100%;
        max-width: 360px;
        margin: auto;
    }
    .img_port3 {
        width: 100%;
        max-width: 360px;
        margin: auto;
    }

    /* FOOTER */
    .line_footer {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .line_footer p a {
        font-size: 20px;
    }

    .line_footer p i {
        font-size: 20px;
    }
}